* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  padding: 10px;
}
.app_title {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  font-size: 17px;
  background-color: #666666;
  color: white;
  width: 98%;
  margin-bottom: 45px;
  height: 45px;
}
.app_container {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  width: 96%;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container > .title {
  font-size: 25px;
}

.container > label {
  display: block;
  font-size: 15px;
}

.container > li {
  padding-left: 30px;
}

.container > input {
  margin: 7px 0 10px 0;
  height: 37px;
  padding: 10px;
}

.container > button {
  background-color: #5487e0;
  color: white;
  width: 33%;
  height: 29px;
  font-weight: 800;
}

.componentLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
}

.recoveryTimesStartInputs {
  display: flex;
  flex-direction: column;
  min-width: 48%;
}

.recoveryTimesStartInputs > label {
  display: block;
  font-size: 15px;
  padding-top: 10px;
}

.recoveryTimesStartInputs > input {
  margin: 7px 0 10px 0;
  height: 37px;
  padding: 10px;
}

table,
th,
td {
  border: 2px solid #aaaaaa;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  padding: 10px;
  width: 50%;
}

th {
  text-align: left;
}

tr > td:last-child {
  text-align: right;
}

.time-display {
  margin: 15px 0 15px 0;
}

.frequency {
  margin: 16px 0 -0 0;
}
.durationInput {
  display: flex;
  flex-direction: column;
}

.durationInput > input {
  padding-bottom: 10px;
}
@media only screen and (max-width: 720px) {
  .app_container {
    flex-direction: column;
  }
}
.fail_number {
  font-weight: 800;
}

.fail_rate {
  margin-top: 30px;
  margin-left: 10px;
}
.change_fail_container {
  min-height: 140px;
}

.mttr {
  margin: 16px 0 5px 3px;
}
.render_mttr {
  font-weight: 800;
}
